body{
    font-family: sans-serif;
    background: rgb(29,29,29);
    background: linear-gradient(90deg, rgba(29,29,29,0.9136029411764706) 0%, rgba(0,0,0,0.8855917366946778) 100%);
    color: #000;
    font-family: 'Quicksand', sans-serif;
}

.container{
    margin-left: -10px;
    /* background-color: #eeab1f; */
    /* background-color: #b9c558; */
    background: rgb(245,174,50);
    background: linear-gradient(90deg, rgba(245,174,50,0.9136029411764706) 0%, rgba(241,154,31,0.8855917366946778) 100%);
    top: 0;
    position: fixed;
    width: 100%;
    border: #f4f4f4 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

#logo{
    width: 15%;
    margin-left: 50px;
    float: left;
    cursor: pointer;
}

.player {
    margin: auto;
    float: left;
    color: #000;
    padding: 10px 10px 10px 10px;
    margin-left: 70px;
    margin-right: 70px;
}

.leilao{
    margin: auto;
    width: 50%;
    color: #000;
    float: right;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    box-sizing: border-box;
    background: rgb(245,174,50);
    background: linear-gradient(90deg, rgba(245,174,50,0.9136029411764706) 0%, rgba(241,154,31,0.8855917366946778) 100%);
    border-radius: 10px;
    margin-right: 20px;
}

.proposta{
    background-color: #34495e;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    padding: 15px 50px;
    cursor: pointer;
}

.time{
    margin: auto;
    width: 50%;
    color: #000;
    float: right;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: rgb(245,174,50);
    background: linear-gradient(90deg, rgba(245,174,50,0.9136029411764706) 0%, rgba(241,154,31,0.8855917366946778) 100%);
    border-radius: 10px;
    margin-right: 20px;
}

.center{
    text-align: center;
}

::-webkit-scrollbar-track {
    background-color: #ffae00;
  }
::-webkit-scrollbar {
  width: 8px;
  background: #ffae00;
}
::-webkit-scrollbar-thumb {
  background: #ffd06a;
  border-radius: 30px;
}